.sinopse{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.sinopse .subtitulo{color: #e0e0e0;}

.sinopse-texto{
    font-size: 1.2rem;
    line-height: 1.33;
    max-width: 60ch;
    margin-bottom: 60px;
    color: #525252;
}

.sinopse-texto strong{color: #141414;}

.livro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    gap: 10px 20px;
}

.livro::before{
    content: "";
    display: block;
    width: 6px;
    height: 60px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 20px;
    left: -6px;
}

.livro-titulo{
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: bold;
}

.livro-texto{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.livro-topicos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.livro-topicos li{
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #ffff;
    padding: 5px 10px;
}

@media (max-width: 1200px){
    .sinopse{gap: 50px;}
    .sinopse .subtitulo{font-size: 6rem;}
}

@media (max-width: 600px){
    .sinopse{grid-template-columns: 1fr;justify-items: baseline;gap: 20px;}
    .sinopse .subtitulo{word-break: normal;font-size: 4rem;}
}