@import "header.css";
@import "introducao.css";
@import "sinopse.css";
@import "formacao.css";
@import "footer.css";





body{color: #141414;margin: 0px;font-family: 'Fira Sans', Arial, Helvetica, sans-serif;}
h1, h2, h3, p{margin: 0px}
ul{margin: 0px;padding: 0px;list-style: none;}
a{text-decoration: none;color: inherit;display: block;}
img{max-width: 100%;display: block}
.subtitulo{
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
    max-width: 4ch;
}
